<!DOCTYPE html>
<html lang="pt/Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Seja bem vindo ao meus teste</h1>
    <p>Agora são: {{ now }}</p>
    <form action="/your-name/" method="post">
        <label for="your_name">Seu nome: </label>
        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
        <input type="submit" value="OK">
    </form>
    <ul>
    {% for transacao in transacoes %}
        {% if transacao == 'Transação 1' %}
            <li><b>{{transacao}}</b></li>
        {% else %}
            <li>{{transacao}}</li>
        {% endif %}
    {% endfor %}
    </ul>
</body>
</html>